:root {
    /* --background-color: #141414; */
    --background-color: white;
    --primary-color: black;
    --link-color: #02b3f9;
    --link-color-active: #036e99;

    color: var(--primary-color);
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Makes sure that this rule only gets applied in dark theme */
@media only screen {
    :root[data-scheme=dark] {
        --background-color: black;
        --primary-color: white;
    }
}

h1 {
    font-family: Arial, Helvetica, sans-serif !important;
    margin: initial !important;
    padding: initial !important;
    line-height: initial !important;
}

p {
    font-size: 1.2rem;
}

a {
    color: var(--link-color);
    fill: var(--link-color);
}

a:hover {
    color: var(--link-color-active);
    fill: var(--link-color-active);
}


input {
    color: var(--primary-color);
}

ul {
    padding-left: 1.5em !important;
}

ul > li {
    list-style-type: initial !important; /* Why TF was this set to none in materialize.css */
}

article {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
}

body {
    margin: 0;
}

[type="checkbox"] {
    opacity: 1 !important;
    position: initial !important;
}

#header {
    transition: 0.2s;
}

#header[hidden] {
    transform: translateY(-150%);
}

#media print {
    #header {
        display: none;
    }
}

.pillow-button {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 11px;
    border-radius: 99999px;

    border: none;
}

.auth-link {
    fill: var(--primary-color);

    height: 1em;
    width: 1em;

    border: 1px solid var(--link-color);
    border-radius: 15px;

    transition: 0.3s;
}

.auth-link > * {
    margin: 3px;
}

.auth-link:hover {
    border: 1px solid var(--link-color-active);
    transform: translateY(-5px);
}

.icon {
    mask-image: url("/static/icon.svg");
    mask-size: cover;
    background-color: var(--primary-color);
}

/* Calendar CSS Rules */
.fc-event {
    color: var(--primary-color) !important;
}

.fc-daygrid-day-number {
    color: var(--primary-color) !important;
}

.fc-event:hover {
    color: var(--link-color) !important;
}


.fc-list-day-text {
    color: black;
}

.fc-list {
    height: fit-content !important;
    position: unset !important;
}

@media print {
    :root {
        --fc-border-color: transparent;
    }

    #header {
        display: none;
    }

    #calendar-source {
        font-size: 3.2rem;
    }

    /* Fixes list taking too much space */
    .fc-view-harness {
        height: fit-content !important;
    }

    .fc-scroller {
        overflow: visible !important;
    }

    .fc-button-group,.fc-button {
        display: none !important;
    }

    .bottom-message {
        position: fixed;
        bottom: 0%;
    }
}
