:root {
    background-color: #141414;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.fc-list-day-text {
    color: black;
}

.fc-list {
    height: fit-content !important;
    position: unset !important;
}

@media print {
    :root {
        --fc-border-color: transparent;
    }

    /* Fixes list taking too much space */
    .fc-view-harness {
        height: fit-content !important;
    }

    .fc-scroller {
        overflow: visible !important;
    }

    .fc-button-group,.fc-button {
        display: none !important;
    }

    .bottom-message {
        bottom: 0%;
        position: fixed;
    }
}
